@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

 
.head1{
  font-size:30px;
  color:#03A9F4;
}

.head2{
  font-size:22px;
  color:#03A9F4;


}

ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}
ngb-carousel img {
  max-width :700px; 
  width: 100%;
  /* height:250px; */
  outline: none;
}
ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}
.carousel-indicators{
  z-index: 20;
}
.secondNav {
  width: 98%;
  height: 15px;
  color: white;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin-left: -1%;
}

.secondNav a {
  padding: 1rem;
  margin-right: 8px;
  border: 2px solid rgb(35, 92, 145);
  color: rgb(35, 92, 145);
}
.secondNav a:hover {
  color: white;
    background: #00c6ff;
  /* background: linear-gradient(45deg, #373B44 48%, #00c6ff 48%); */
  border: 1px solid black;
}





